{{ include('header.twig') }}

{{ include('menu.twig') }}

<!-- !PAGE CONTENT! -->
<div class="w3-main">

<header id="projects">
    <a href="#"><img src="assets/images/profile.png" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
    <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
</header>

<div class="article">
	{{ content }}
</div>

{{ include('footer.twig') }}
