<!DOCTYPE html>
<html>
<head>
  <title>Martin Pražák</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

  <link rel="stylesheet/less" type="text/css" href="{{ theme_url }}/css/styles.less" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js" ></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23799148-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-23799148-1');
  </script>
</head>
<body class="w3-light-grey w3-content" style="max-width:1600px" onload="
  var s = 'moc.liamg@kazarp.nitram';
  var e = s.split('').reverse().join('');
  if(document.getElementById('email')) {
    document.getElementById('email').innerHTML = e;
    document.getElementById('email').href = 'mailto:'+e;
  }
">
